
h1{
    color: rgb(18, 175, 18);
    font-size: 50px;
    margin-left: 70px;
}

.arriba{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}
.contenido_cap4 h2{
    color:  rgb(18, 175, 18);
    
    font-size: 41px;
    margin-bottom: 40px;
}
.contenido_cap4{
    width: 65%;
    margin-left: 35px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.contenido_cap4 ul{
    margin-left: 30px;
    margin-top: 11px;
}
.contenido_cap4 li{
    margin: 20px;
}
.contenido_cap4 p{
    margin-top: 38px;
}
.imagen_arriba img{
    width: 90%; 
    height: 90%;
    border-radius: 40px;
    box-shadow: 0 10px 15px rgba(122, 243, 24, 0.603);
    background-color: rgba(0,0,0,0.5);
    
}
.imagen_arriba img:hover{
    transform: scale(1.2);
    transition: 2s;
}


.abajo {
    max-width: 1200px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: auto;
}
.contenido_abajo{
    width: 60%;
    padding-right: 30px;
    font-size: 25px;
}

.imagen_abajo{
    width: 40%;
    box-sizing: border-box;
}
.imagen_abajo img{
    max-width: 100%;
    height: auto;
    display: block;
    margin-right: 12%;
    border: 0.7px solid green;
    border-radius: 12px;
    box-shadow: 0 14px 19px rgba(255, 255, 0, 0.512);
}
.imagen_abajo img:hover{
    transform: scale(1.1);
    transition: 2s;
}
.contenido_cap7{
    width: 65%;
    display: flex;
    flex-direction: column;
    font-size: 25px;
}
