h1{
    color: rgb(18, 175, 18);
    font-size: 50px;
    margin-left: 70px;
}

.arriba{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}
.contenido_cap4 h2{
    color:  rgb(18, 175, 18);
    font-size: 41px;
    margin-bottom: 40px;
}
.contenido_cap4{
    width: 65%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.contenido_cap4 h4 {
    margin: 10px;
}
.contenido_cap4 ul{
    margin: 6px;
}
.contenido_cap4 li{
    margin: 10px;
    margin-left: 30x;
}
.imagen_arriba img{
    width: 90%; 
    height: 90%;
    border-radius: 40px;
    box-shadow: 0 10px 15px rgba(122, 243, 24, 0.603);
    background-color: rgba(0,0,0,0.5);
    
}
.imagen_arriba img:hover{
    transform: scale(1.2);
    transition: 2s;
}

.abajo {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row-reverse;
    
}
.contenido_abajo{
    width: 60%;
    margin-left: 25%;
    font-size: 20px;
    margin-top: 30px;
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.contenido_abajo h2{
    color:  rgb(18, 175, 18);
    font-size: 41px;
    margin-bottom: 40px;
}
.contenido_abajo p{
    margin-bottom: 20px;
}
.contenido_abajo ul{
    margin-top: 25px;
    margin-bottom: 20px;
}
.contenido_abajo li{
    margin-bottom: 9px;
    margin-left: 30px;
}

.imagen_abajo{
    width: 25%;
    box-sizing: border-box;

}
.imagen_abajo img{
    width: 150%;
    height: 100%;
    margin-left: 20px;
    margin-top: 40%;
    border-radius: 40px;
    box-shadow: 0 10px 15px rgba(122, 243, 24, 0.603);
    background-color: rgba(0,0,0,0.5);
    

}
.imagen_abajo img:hover{
    transform: scale(1.1);
    transition: 2s;
}
.contenido_cap7{
    width: 65%;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    margin-left: 15%;
}
.cap_7 h1{
    width: 100%;
    height: 100%;
    margin-top: 50px;
    margin-bottom: 50px;

}
.contenido_cap7 h3{
    margin: 20px;
}
.contenido_cap7 li{
    margin: 10px;
    margin-left: 40px;
}

.contenido_cap7 p{
    margin-top: 15px;
    margin-bottom: 70px;
}







