* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    width: 100%;
    min-height: 100vh;
    margin: 0;                
    background-image: url("../assets/fondo.png");
    background-size: cover;          
    background-position: center;    
    background-repeat: no-repeat;     
    overflow-y: auto;
    overflow-x: hidden;
    opacity: 1;
    padding-top: 1rem;
}

.nav {  
    width: 100%;
    position: fixed;     
    padding: 18px 40px; 
    margin-bottom: 4.5rem;      
}

.nav ul {
    width: 100%;
  list-style: none;
  display: flex; 
  justify-content: center;
  align-items: center;            
  gap: 23px;
}

.nav a {
  text-decoration: none;
  /* color: green; */
  color: rgb(178, 173, 173);
  font-weight: 100;
  letter-spacing: 2px;       
  transition: 0.3s ease;
  font-size: 2rem;
  border-bottom: 0.8px solid green;
  box-shadow: 0 6px 36px rgba(153, 205, 50, 0.751);
}

.nav a:hover {
    color: green; 
    border: 0.5rem solid rgba(0, 128, 0, 0.58); 
    padding: 0.3rem;
    border-radius: 0.7rem; 
    font-size: 2.3rem;  
    transition: 1s ease;
}
/* ------------------------------------------------------ */

.galeria {
    width: 100%;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.galeria .item {
    width: 100%;
    height: 450px;
    overflow: hidden;
    border-radius: 15px;
    border: 0.5px solid green;
    background-color: #00000084;
    box-shadow: 0px 1px 13px yellowgreen;
}
.galeria .item:hover {
    border: 0.5px solid green;
    background-color: #00000084;
    box-shadow: 0px 7px 13px greenyellow;
}

.galeria img {
    width: 240px;
    height: 400px;
    object-fit: cover;
    transition: transform .5s ease;
    /* filter: drop-shadow(0 0 10px green); */
}

.galeria img:hover {
    transform: scale(1.1);
}
