* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
.contenedor-principal {
    width: 100%;
    height: 100vh;                   
    background-image: url("../assets/fondo.png");
    /* background: linear-gradient(135deg, #000000, #022002); */
    background-size: cover;          
    background-position: center;    
    background-repeat: no-repeat;     
    overflow: hidden;     
}
.contenedor-principal .titulo-principal {
    font-size: 10.7rem;
    margin-top: 3rem;
    text-align: center;
    /* color: rgb(178, 173, 173); */
    color: green;
    letter-spacing: 0.9rem;
    /* box-shadow: 0 0.6rem 0.4rem rgba(172, 255, 47, 0.28); */
    margin-bottom: 5rem; 
}
.contenedor-principal .nav { 
    width: 100%;
    height: 100px;      
    padding: 18px 40px; 
    margin-bottom: 4.5rem;      
}

.contenedor-principal .nav ul {
    width: 100%;
    list-style: none;
    display: flex; 
    justify-content: center;
    align-items: center;            
    gap: 5.2rem;
}

.contenedor-principal .nav a {
  text-decoration: none;
  /* color: green; */
  color: rgb(178, 173, 173);
  font-weight: 200;
  letter-spacing: 2px;       
  transition: 0.3s ease;
  font-size: 3.5rem;
  border-bottom: 1px solid green;
  box-shadow: 29px 9px 36px rgba(153, 205, 50, 0.751);
}

.contenedor-principal .nav a:hover {
    color: green; 
    border: 0.5rem solid green; 
    padding: 0.4rem;
    border-radius: 0.7rem; 
    font-size: 4.3rem;  
    transition: 1s;
}
.contenedor-contenido {
    width: 100%;
    
    display: flex;
    margin-top: 3rem;
}
.contenido-izquierdo {
    width: 70%;

}
.contenido-izquierdo .titulo-izquierdo {
    text-align: center;
    color: rgb(189, 185, 185);
    font-size: 9rem;
    margin-top: 4rem;
    font-size: 4.5rem;
    color: green;
    
}
.contenido-izquierdo p {
    margin: 6.7rem 1rem 9rem 9rem; 
    text-align: justify;
    font-size: 2.5rem;
    /* color: green; */
    color: rgb(178, 173, 173);
    letter-spacing: 0.1rem;
    line-height: 1.6;
}
.contenido-derecho {
    width: 30%; 
}
.contenido-derecho img {
            
    width: 430px;
    border-radius: 7px;
    /* background-color: #080908a0; */
    transition: transform 2s ease;
    filter: drop-shadow(0 1px 11px green);
}
.contenido-derecho img:hover {
    /* width: 410px;
    transition: 2s ease;*/
    transform: scale(1.1);
    transition: 1.4s ease;
    /* background-color: #000;  */
}


/* --------------- ESTILOS PARA MEDIA QUERIES --------------- */

@media (max-width: 768px) {
    .contenedor-principal {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100dvh;                   
        /* background-image: url("../assets/fondo.png"); */
        /* background: linear-gradient(135deg, #000000, #022002); */
        background-size: cover;          
        background-position: center;    
        background-repeat: no-repeat;     
        overflow: hidden;     
    }
    .contenedor-principal .titulo-principal {
        font-size: 6rem;
        margin-top: 5rem;
        text-align: center;
        /* color: rgb(178, 173, 173); */
        color: green;
        letter-spacing: 0.7rem;
        /* box-shadow: 0 0.6rem 0.4rem rgba(172, 255, 47, 0.28); */
        margin-bottom: 4.5rem; 
    }
    .contenedor-principal .nav { 
        width: 100%;
        height: 60px;      
        padding: 18px 40px; 
        margin-bottom: 2rem;   
    }

    .contenedor-principal .nav ul {
        width: 100%;
        list-style: none;
        display: flex; 
        justify-content: center;
        align-items: center;            
        gap: 1.2rem;
    }

    .contenedor-principal .nav a {
        text-decoration: none;
        color: rgb(178, 173, 173);
        font-weight: 200;
        letter-spacing: 2px;       
        font-size: 2rem;
        border-bottom: 1px solid green;
        box-shadow: 29px 9px 36px rgba(153, 205, 50, 0.751);
    }
    .contenedor-principal .nav a:hover {
        color: rgb(178, 173, 173);
        border: 1px solid green;  
        padding: 0;             
        border-radius: 0;
        font-size: 2rem;  
        box-shadow: none;       
        transition: none;     
}
    .contenedor-contenido {
        width: 100%;
        padding: 1rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        overflow-x: hidden;
        margin-top: 1rem;
    }
    .contenido-izquierdo .titulo-izquierdo {
        width: 400px;
        margin-top: 2rem;
        font-size: 2.8rem;
        text-align: center;
        color: green;
    }
    .contenido-izquierdo p {
        width: 365px;
        line-height: 1.1;
        margin: 2rem; 
        font-size: 1.8rem;
        color: rgb(178, 173, 173);
    }
    .contenido-derecho {
        display: none;
    }

}

