/* ----------------- ESTILO RESET ----------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
/* ----------------- ESTILO BODY GENERAL ----------------- */
body {
    width: 100%;
    min-height: 100vh;
    margin: 0;      
    padding-top: 6rem;    
    color: rgb(178, 173, 173);      
    background-image: url("../assets/fondo.png");
    background-size: cover;          
    background-position: center;    
    background-repeat: no-repeat;     
    overflow-x: hidden;
}
/* ----------------- ESTILO BARRA DE NAVEGACION ----------------- */
.nav {  
    width: 100%;
    height: 7rem;
    position: fixed; 
    top: 0; 
    padding: 1.8rem 4rem;
    background-color: rgba(0, 0, 0, 0.404);
    margin-bottom: 4.5rem;   
    z-index: 100;   
}

.nav ul {
    list-style: none;
    display: flex; 
    justify-content: center;
    align-items: center;            
    gap: 4.3rem;
}

.nav a {
  text-decoration: none;
  color: rgb(178, 173, 173);
  font-weight: 400;
  letter-spacing: 2px;       
  transition: all 0.3s ease;
  font-size: 1.8rem;
  border-bottom: 0.8px solid green;
  box-shadow: 0 6px 36px rgba(153, 205, 50, 0.751);
}

.nav a:hover {
    color: green; 
    border: 0.5rem solid rgba(0, 128, 0, 0.58); 
    padding: 0.3rem 1.2rem;
    border-radius: 0.7rem; 
    font-size: 2rem;  
    transition: 1s ease;
}
/* ----------------- ESTILO SECCIONES Y CAPITULOS ----------------- */

/* -------------- CAPITULO 2 --------------------- */
.titulo-cap2 {
    font-size: 4rem;
    color: #47e412;
    text-align: center;
    margin: 9rem 0 2rem 0;
}
.parrafo-cap2 {
    font-size: 2.1rem;
    color: rgb(178, 173, 173);
    text-align: center;
}
.contenedor-capitulo2 {
    width: 100%;
    height: 130rem;
    padding: 3rem;
    /* border: 1px solid rgba(236, 233, 233, 0.316); */
    /* box-shadow: 0 2px 45px green; */
    display: flex;
    margin-top: 5rem 
}
.contenedor-izquierdo_capitulo2 {
    width: 50%;
    background-color: #0000004f;
}
.contenedor-izquierdo_capitulo2 h2 {
    font-size: 4rem;
    color: green;
    text-align: center;
    width: 90%;
    margin: 0 auto;
}
.contenedor-izquierdo_capitulo2 p {
    width: 70%;
    text-align: justify;
    margin: 0 auto;
    font-size: 2rem;
    color: rgb(178, 173, 173);
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-radius: 8px;
    line-height: 1.3;
}
.contenedor-izquierdo_capitulo2 p:hover {
    background-color: #000000;
    transition: 1.4s ease;
}
.contenedor-izquierdo_capitulo2 .lista-info {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    color: rgb(178, 173, 173);
    margin-left: 15rem;
}
.lista-info li {
    transition: 0.3s ease;
    cursor: pointer;
    line-height: 1.5;
}
.lista-info li:hover {
    color: green;
    transform: scale(1.05); 
    text-shadow: 0 0 10px green;
}
.contenedor-izquierdo_capitulo2 img {
    width: 380px;
    display: block;         
    margin: 0 auto 2rem;    
    border-radius: 7px;
    filter:drop-shadow(0px 4px 12px rgb(46, 197, 46));
    transition: transform 2s ease;
}
.contenedor-izquierdo_capitulo2 img:hover {
    transform: scale(1.6);
}

/* -------------- CAPITULO 5 --------------------- */

.contenedor-capitulo-cap5 {
    width: 100%;
    display: flex;
    margin-bottom: 6rem;
    margin-top: 8rem;
}

.contenedor-info-cap5 h1 {
    font-size: 4rem;
    color: #47e412;
    text-align: center;
    width: 95%;
    margin: 0 auto;
}

.contenedor-info-cap5 p {
    width: 70%;
    text-align: justify;
    line-height: 1.3;
    margin: 0 auto;
    font-size: 2rem;
    color: rgb(178, 173, 173);
    margin-top: 3rem;
    margin-bottom: 4.5rem;
    border-radius: 8px;
}
.contenedor-info-cap5 p:hover {
    background-color: #000000;
    transition: 1.4s ease;
}
.contenedor-info-cap5 article {
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor-info-cap5 .lista-info-cap5 {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    color: rgb(178, 173, 173);
    margin-left: 15rem;
}
.lista-info-cap5 li a{
    transition: 0.9s ease;
    cursor: pointer;
    line-height: 4rem;
    border-bottom: 1px solid green;
}
.lista-info-cap5 li a {
    text-decoration: none;
    list-style: none;
    color: rgb(178, 173, 173);
}
.lista-info-cap5 li a:hover {
    color: green;
    font-size: 2.2rem;
    text-shadow: 0 0 10px green;
}