.arriba{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    margin-top: 40px;
    padding: 20px;
}

.contenido_cap3{
    max-width: 60%;
}

.contenido_cap3 h1{
    font-size: 3.2rem;
    margin-bottom: 3rem;
    color: #47e412;
    text-align: center;
    width: 100%;
    background-color: #00000090;
}

.contenido_cap3 p{
    width: 80%;
    text-align: justify;
    margin: 0 auto 2rem;
    font-size: 2rem;
    color: rgb(255, 255, 255);
    margin-bottom: 15px;
}

.lista-info-cap3{
    width: 70%;
    margin: 0 auto 3rem;
    font-size: 2rem;
    color: rgb(255, 255, 255);
    padding-left: 20px;
    margin-bottom: 15px;
}

.lista-info-cap3 li:hover{
    color: greenyellow;
    transform: scale(1.05);
    transition: 0.3s;
    text-shadow: 0 0 10px green;
}



.galeria-cap3{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2rem;
    overflow-x: auto;
    padding: 1 rem;
}

.galeria-cap3 img{
    width: 200px;
    border-radius: 6px;
    filter: drop-shadow(0 1px 11px yellowgreen);
    transition: transform 2s ease;
}

 .galeria-cap3 img:hover{
    transform: scale(1.2);
 }



.abajo{
    width: 100%;
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.contenido_abajo_columnas-3{
    width: 90%;
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.columna{
    width: 33%;
}

.columna h2{
    font-size: 2.4rem;
    color: rgb(9, 238, 9);
    text-align: center;
    background-color: #00000090;
    margin-bottom: 1.5rem;
}

.columna p{
    font-size: 1.9rem;
    color: rgb(255, 255, 255);
    width: 90%;
    text-align: justify;
    margin: 0 auto 2rem;
}

.galeria-sub{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1.5rem;
    overflow-x: auto;
    padding: 1rem 0;
}

.galeria-sub img{
    width: 160px;
    border-radius: 6px;
    display: block;
    flex-shrink: 0;
    filter: drop-shadow(0 1px 11px yellowgreen);
    transition: transform 2s ease;
}

.galeria-cap3 img:hover{
    transform: scale(1.2);
}