
        section {
            width: 100%;
            height: auto;                   
            background-image: url("/image.jpg");
            background-size: cover;          
            background-position: center;    
            background-repeat: no-repeat;     
            display: flex;
            justify-content: center;         
            align-items: center;
            color: white;  
            overflow: hidden;  
            opacity: 4;   
            display: flex;

        }
        div {
            width: 50%;
        }
        div img {
            width: 400px;
            margin-left: 150px;
        }
        div h1 {
            font-size: 70px;
        }
        div p {
            font-size: 23px;
            text-align: center;
        }
        .dos {
            width: 50%;
        }
        .dos img {
            border: 1px solid green;
            border-radius: 8px;
            box-shadow: 0 14px 25px rgba(255, 255, 0, 0.512);
        }
        .dos img:hover {
            width: 500px;
            rotate: 20px;
            transition: 2s;
        }
        .dos p:hover  {
            color: greenyellow;
            font-size: 29px;
            transition: 2s;
            border: 1px solid red;
            border-radius: 7px;
        }
   
